Repository hemilabs/blockscout-config: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --quiet, prettier --write, node tools/sort-marketplace-config.js, better-sort-package-json

Remove a duplicated app and add a test
  marketplace/config.json
  test/marketplace.config.test.js
Due: eslint --cache --fix --quiet, prettier --write, node tools/sort-marketplace-config.js

Restore Hemi logo and icon
  assets/hemi-icon.svg
  assets/hemi-logo.svg
Due: none

Test footer links and logo
  .husky/pre-push
  test/assets.test.js
  test/footer.links.test.js
Due: eslint --cache --fix --quiet, prettier --write

Update Pure Finance URL
  marketplace/config.json
Due: prettier --write, node tools/sort-marketplace-config.js

Use the new Hemi icons
  assets/hemi-icon.svg
  assets/hemi-logo.svg
Due: none

Prevent tests to be blocked
  test/marketplace.config.test.js
Due: eslint --cache --fix --quiet, prettier --write

Remove PassDEX
  marketplace/config.json
Due: prettier --write, node tools/sort-marketplace-config.js

Improve test logs
  test/marketplace.config.test.js
Due: eslint --cache --fix --quiet, prettier --write

Bypass Cloudflare 403 errors
  test/marketplace.config.test.js
Due: eslint --cache --fix --quiet, prettier --write

Fix tests for Dodo
  package-lock.json
  package.json
  test/marketplace.config.test.js
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

ci: pin actions to full-length commit hashes
  .github/workflows/ci-checks.yml
Due: none

Path conditions:
  eslint --cache --fix --quiet: any of: *.js
  prettier --write: ((any of: *.js) or (any of: marketplace/config.json)) or (any of: package.json)
  node tools/sort-marketplace-config.js: any of: marketplace/config.json
  better-sort-package-json: any of: package.json
